.THIS .table-data-desc {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.005em;
    color: #1A1A1A;
    white-space: nowrap;
}